@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Dit is een project van <a href="https://marcel.brinkkemper.com">Marcel Brinkkemper</a>.</p>
</div>
